* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    margin: 0;
    background: #fff7f0;
    color: #2b1d16;
}

.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    padding: 25px 70px;
    justify-content: space-between;
    align-items: center;
    padding: 25px 80px;
    background: transparent;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #2b1d16;
}

.logo span {
    color: #ff6a00;
}
.navbar ul {
    list-style: none;
    display: flex;
    gap: 3px;
}

nav a {
    margin-left: 25px;
    text-decoration: none;
    color: #3a2a22;
    font-weight: 500;
}

nav a:hover {
    color: #ff6a00;
}


.login-btn {
    background: #ff7a1a;
    color: #fff !important;
    padding: 10px 22px;
    border-radius: 30px;
}

/* HERO BACKGROUND (SAME AS LANDING) */
.login-hero {
    min-height: 100vh;
    background:
        linear-gradient(
            to right,
            rgba(255,255,255,0.95) 40%,
            rgba(255,255,255,0.2)
        ),
        url("../assets/images/car.jpg") center / cover no-repeat;
    display: flex;
    align-items: center;
    padding-left: 120px;
}

/* FLOATING LOGIN CARD */
.login-card {
    background: #fff;
    width: 420px;
    padding: 45px;
    border-radius: 24px;
    box-shadow: 0 30px 60px rgba(255, 106, 0, 0.25);
}

.login-card h2 {
    font-size: 28px;
    margin-bottom: 6px;
}

.login-card p {
    color:  #5a3e30;
    margin-bottom: 25px;
}

/* INPUTS */
.login-card input {
    width: 100%;
    padding: 14px 18px;
    margin-bottom: 15px;
    border-radius: 30px;
    border: 1px solid #ddd;
    outline: none;
    font-size: 14px;
}

/* BUTTON */
.login-card button {
     width: 100%;
    padding: 14px;
    border-radius: 30px;
    border: none;
    background: linear-gradient(135deg, #ff6a00, #ff914d);
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 12px 25px rgba(255, 106, 0, 0.4);
}

/* REGISTER */
.register-text {
    margin-top: 18px;
    text-align: center;
    font-size: 14px;
}

.register-text a {
    color: #ff7a1a;
    text-decoration: none;
}

/* ERROR */
.error {
    background: #ffe5e5;
    color: #c0392b;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 15px;
}
